
 
 <div class='item-contents'>
    <h2 class='title'>みんなのindoor</h2>
    <%= link_to 'あなたの”indoor”を投稿しよう', "/indoors/new", class: "subtitle" %>
    <ul class='item-lists'>
      
      <% @indoors.each do |indoor| %>
      <li class='list'>
        <%= link_to indoor_path(indoor.id),method: :get do %>
        <div class='item-image-content'>
          <%= image_tag indoor.image.variant(resize:'500x500'), class: "indoor-image" if indoor.image.attached? %>

         
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= indoor.indoor_name %>
          </h3>
          <div class='item-price'>
            <span><%= indoor.indoor_text %></span>
            <div class='star-btn'>
              
            </div>
          </div>
        </div>
        </li>
        <% end %>
      <%end%>
      </div>